<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <!--override logging by developer, use to override loglevel on loggers, not to define appenders-->  
  <logger name="Common.Visuals">
    <level value="Debug"/>
  </logger>

  <logger name="Common.NonVisual">
    <level value="Debug"/>
  </logger>
  <logger name="Tower.AppGui.PSwipe">
    <level value="Info"/>
  </logger>
</log4net>
